<!-- main section -->
<header class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <!-- LOGO -->
            <img src="../img/handle-burger-bar.png" alt="Handle Burger Bar logo" title="Handle Burger Bar">
        </div>
        <div class="col">

        </div>
    </div>
</header>

<main id="form" class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-4">
            <!-- Add Burger Form -->
            <h2>Add a Burger</h2>
            <form id="createBurger" class="button-size">
                <textarea type="text" name="burger"></textarea>
                <button type="submit">Save Burger</button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</main>
<hr>

<div id="split" class="container">
    <div class="row">
        <div id="Eat" class="col">
            <h3>Burgers to be Eaten</h3>

            <ul>
                {{#each burgers}}
                <li>
                    <p>
                        {{id}}. {{burger_name}}

                        <button data-burgerid="{{this.id}}" class="eatBurger">Devour the Burger</button>
                    </p>
                </li>
                {{/each}}
            </ul>
        </div>
        <div id="Eaten" class="col">
            <h3>Burgers I've Eaten</h3>
            <ul>
                {{#each eatenBurger}}
                <li>
                    <p>
                        {{id}}. {{burger_name}}

                        <button data-burgerid="{{this.id}}" class="eatenBurger">Clear</button>
                    </p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>